#t1	{
	color: red;
}

#t2{
	color: aqua;

}

#t3{
	color: rgb(255, 0 , 0);

}

#t4{
	color: rgba(45, 78,  63, 1.0);

}

#t5{
	color: #663399;

}

#t6{
	color: #663399aa; 

}

#t7{
	color: #f86299;
}

#t8{
	color: #aabbcc;
}

#t9{
	color: #76e28273;

}